{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["inline-dotenv", "inline-react-svg", "@babel/plugin-transform-runtime"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["transform-inline-environment-variables", "inline-react-svg", "@babel/plugin-transform-runtime"]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}